name: Test
on:
  push:
    branches-ignore:
      - 'master'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-to-do-app-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
      - name: Install Dependencies
        if: steps.cache-primes.outputs.cache-hit != 'true'
        run: yarn install
      - name: Run test
        run: yarn test:unit
